src/__pycache__/*
newsFluxus/*
old_summarized_emo/*
old_idmdl/*
change_point_detection/*
src/tensor_fix.py
src/news_bert.py
*csv
*.log
merge_ndjson.py
remove_retweets.py
summarized_emo/tweets_emo_wRT*

# en data
src/get_en_data/apis.txt
src/get_en_data/hydrated_*
src/get_en_data/*.tsv
src/get_en_data/*.txt
en_tweets/*
da_requirements.txt
summarized_emo/tweets_en*

# hope tweets
hope_tweets/*
summarized_emo/hope_tweets*

# partial tweet topics
summarized_emo/tweets_topic_2019-2020*
summarized_emo/tweets_topic_2021_part3*