dacy==1.1.4
danlp==0.0.11
spacy[cuda101] 
thinc[torch]
spacy-transformers
https://huggingface.co/spacy/da_core_news_lg/resolve/main/da_core_news_lg-any-py3-none-any.whl
ndjson==0.3.1
pandas==1.1.5
sklearn==0.0
statsmodels==0.12.2
matplotlib==3.3.3
seaborn==0.11.2
pyplot-themes==0.2.2
ruptures